body{
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.container{
  text-align: center;
  padding: 20px;
}

.card {
  margin:10px;
  display: inline-flex;
  text-align: center;
  width: 270px;
  height: 480px;
}

img{
  margin-top: 10px;
  width:150px;
  height:220px;
}
p{
  text-align: justify;
}
