
<header>
    <nav> 
        <ul>
            <li><img src="Logotipo.png" alt="logotipo"/></li>
            <ul>
                <li>Opções Menu</li>
            </ul>
            <li>
                <div>
                    <input type="text" placeholder="Buscar..."/>
                    <button>Buscar</button>
                </div>
            </li>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'login' %}">Entrar</a></li>
            <li><a href="{% url 'cart' %}">Carrinho</a></li>
        </ul>
    </nav>
</header>

{% block content %} {% endblock content %}

<footer>
    <p>Construido no Ano de 2024</p>
    <nav>
        <ul>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Pagamento</a></li>
        </ul>
    </nav>
</footer>