{% extends "core/base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyber Book</title>
    </head>
    {% block content%}
    <body>

        <h2>Carrinho de Compras</h2>

        <div> Descrição do Livro
            <div>
                <input type="checkbox"/>
                <div><img src="CapaLivro1.png" alt="Livro1"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Quantidade</p>
                    <p>Preço: </p>
                </div>

                <div> Botões
                    <button>Excluir</button>
                    <button>Salvar para mais tarde</button>
                    <button>Compartilhar</button>
                </div>
            </div>
            
            <div>
                <div> Descrição do Livro
                    <input type="checkbox"/>
                    <div><img src="CapaLivro2.png" alt="Livro2"/></div>
                    <div>
                        <p>Nome do Livro</p>
                        <p>Quantidade</p>
                        <p>Preço: </p>
                    </div>
        
                    <div> Botões
                        <button>Excluir</button>
                        <button>Salvar para mais tarde</button>
                        <button>Compartilhar</button>
                    </div>
                </div>
            </div>
        </div>

        <span>Valor total</span>

    </body>
    {% endblock content %}
</html>
