{% extends "core/base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyber Book</title>
    </head>
    {% block content%}
    <body>
        <div> Filtro
            <form>
                <label>Filtro</label>
                <div>
                    <input type="checkbox">
                    <label>Novidades</label> <br>
                
                    <label>Tipos de Livros</label>
                    <select>
                        <option>Ação</option>
                        <option>Aventura</option>
                        <option>Amizade</option>
                        <option>Fantasia</option>
                        <option>Comédia</option>
                        <option>Romance</option>
                        <option>Terror</option>
                        <option>Tragédia</option>
                    </select><br>

                    <label>Autor</label>
                    <select>
                        <option>nome de autores</option>
                    </select><br>

                    <label>Série</label>
                    <select>
                        <option>???</option>
                    </select><br>
                    
                    <label>Idioma</label>
                    <select>
                        <option>Portugês</option>
                        <option>Espanhol</option>
                        <option>Ingles</option>
                    </select> <br>
                    
                    <label>Preço</label>
                    <select>
                        <option>Maior que R$: 50,00</option>
                        <option>Menor que R$: 50,00</option>
                        <option>Maior que R$: 100,00</option>
                        <option>Menor que R$: 100,00</option>
                    </select> <br>
                </div>
            </form>
        </div>
        
        <div> Mais Vendidos
            <div>
                <div><h3>Mais Vendidos</h3></div>
            </div>

            <div>
                <div><img src="CapaLivro1.png" alt="Livro1"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro2.png" alt="Livro2"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro3.png" alt="Livro3"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>

        <div> Promoções
            <div>
                <div><h3>Promoções</h3></div>
            </div>

            <div>
                <div><img src="CapaLivro4.png" alt="Livro4"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
            
            <div>
                <div><img src="CapaLivro5.png" alt="Livro5"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
            
            <div>
                <div><img src="CapaLivro6.png" alt="Livro6"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>

        <div> Lançamentos
            <div>
                <div><h3>Lançamentos</h3></div>
            </div>
            
            <div>
                <div><img src="CapaLivro7.png" alt="Livro7"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro8.png" alt="Livro8"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
            
            <div>
                <div><img src="CapaLivro9.png" alt="Livro9"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>
    </body>
    {% endblock content%}
</html>
