<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyber Book</title>
    </head>

    <body>
        <div> Endereço Entrega
            <fieldset>
                <legend>Endereço Entrega</legend>
                <textarea></textarea>
            </fieldset>
        </div>

        <div> Forma de Pagamento
            <fieldset>
                <legend>Forma de Pagamento</legend>
              
                <div>
                    <input type="checkbox"/>
                    <label for="scales">Crédito</label>
                    <span>Descrição</span>
                </div>
                
                <div>
                    <input type="checkbox"/>
                    <label for="scales">Débito</label>
                    <span>Descrição</span>
                </div>

                <div>
                    <input type="checkbox"/>
                    <label for="scales">PIX</label>
                    <span>Descrição</span>
                </div>

                <div>
                    <input type="checkbox"/>
                    <label for="scales">Boleto</label>
                    <span>Descrição</span>
                </div>
            </fieldset>
        </div>

        <div> Resumo do Pedido
            <ul>
                <li>Itens: 'Preço'</li>
                <li>Frete e Manuseio: 'Preço'</li>
                <li>Prazo de Entrega: 'Data'</li>
                <li>Preço Total: 'Valor'</li>
            </ul>

            <div> Opcional
                <div>
                    <div><img src="CapaLivro.png" alt="Livro"/></div>
                    <div>
                        <p>Nome do Livro</p>
                        <p>Preço do livro</p>
                        <p>Quantidade</p>
                    </div>
                </div>
            </div>

            <button>Finalizar Pedido</button>
        </div>
    </body>
</html>