{% extends "core/base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyber Book</title>
    </head>
    {% block content%}
    <body>
        <div> Descrição do Livro
            <div><img src="CapaLivro1.png" alt="Livro1"/></div>
            <div>
                <p>Nome do Livro</p>
                <p>Autor</p>
                <form>
                    <label>Descrição do Livro</label>
                    <textarea></textarea>
                </form>
            </div>

            <div> Descrição do Valor
                <p>Preço do desconto</p>
                <p>Preço Real</p>

                <p>Em Estoque</p>
                <p>Quantidade</p>

                <button>Adicionar Carrinho</button>
                <button>Comprar Agora</button>
            </div>
        </div>

        <div> Recomendados
            <div>
                <h3>Recomendados</h3>
            </div>
            
            <div>
                <div><img src="CapaLivro2.png" alt="Livro2"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro3.png" alt="Livro3"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro4.png" alt="Livro4"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>
    </body>
    {% endblock content%}
</html>
