<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyber Book</title>
    </head>

    <body>
        <nav> Menu
            <ul>
                <li><img src="Logotipo.png" alt="logotipo"/></li>
                
                <ul>
                    <li>Opções Menu</li>
                </ul>

                <li>
                    <div>
                        <input type="text" placeholder="Buscar..."/>
                        <button>Buscar</button>
                    </div>
                </li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Entrar</a></li>
                <li><a href="#">Carrinho</a></li>
            </ul>
        </nav>

        <div> Descrição do Livro
            <div><img src="CapaLivro1.png" alt="Livro1"/></div>
            <div>
                <p>Nome do Livro</p>
                <p>Autor</p>
                <form>
                    <label>Descrição do Livro</label>
                    <textarea></textarea>
                </form>
            </div>

            <div> Descrição do Valor
                <p>Preço do desconto</p>
                <p>Preço Real</p>

                <p>Em Estoque</p>
                <p>Quantidade</p>

                <button>Adicionar Carrinho</button>
                <button>Comprar Agora</button>
            </div>
        </div>

        <div> Recomendados
            <div>
                <h3>Recomendados</h3>
            </div>
            
            <div>
                <div><img src="CapaLivro2.png" alt="Livro2"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro3.png" alt="Livro3"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro4.png" alt="Livro4"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>

        <footer> Rodapé
            <p>Construido no Ano de 2024</p>
            <nav>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Pagamento</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
