{% extends "core/base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyber Book</title>
    </head>

    <body>
        {% block content%}
        <div> Mais Vendidos
            <div>
                <div><h3>Mais Vendidos</h3></div>
            </div>

            <div>
                <div><img src="CapaLivro1.png" alt="Livro1"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro2.png" alt="Livro2"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro3.png" alt="Livro3"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>

        <div> Promoções
            <div>
                <div><h3>Promoções</h3></div>
            </div>

            <div>
                <div><img src="CapaLivro4.png" alt="Livro4"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
            
            <div>
                <div><img src="CapaLivro5.png" alt="Livro5"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
            
            <div>
                <div><img src="CapaLivro6.png" alt="Livro6"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>

        <div> Lançamentos
            <div>
                <div><h3>Lançamentos</h3></div>
            </div>
            
            <div>
                <div><img src="CapaLivro7.png" alt="Livro7"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>

            <div>
                <div><img src="CapaLivro8.png" alt="Livro8"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
            
            <div>
                <div><img src="CapaLivro9.png" alt="Livro9"/></div>
                <div>
                    <p>Nome do Livro</p>
                    <p>Preço do livro</p>
                </div>
            </div>
        </div>
    </body>
    {% endblock content%}
</html>
