<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyber Book</title>
    </head>

    <body>
        <div>
            <img src="Logotipo.png" alt="logotipo"/>
        </div>

        <div> Fazer Login
            <form>
                <textarea>
                    <template>Fazer Login</template>

                    <label>Email</label>
                    <input type="text"> <br>

                    <label>Senha</label>
                    <input type="text">
                </textarea>

                <div>
                    <button>Logar com o Google</button>
                    <button>Logar com o Facebook</button>
                    <button>Criar Conta</button>
                </div>
            </form>
        </div>
    </body>
</html>
